:root {
  --lighterColor: #e3f5e6;
  --lightColor: #c4ebc8;
  --normalColor: #b0d3b4;
  --darkColor: #24273c;
  --darkerColor: #211e34;
  --add: #13aa52;
  --remove: #ff0000;
  --female: #c38fff;
  --darkFemale: #8c00a5;
  --male: #0599f5;
  --darkMale: #0860a8;
  --neutral: #ffb900;
  --darkNeutral: #bd5805;
  --mainText: #d0d0d0;
  --secondaryText: #9295a0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background-color: var(--darkerColor);
}

main {
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.visible {
  display: '';
}

.hidden {
  display: none;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../assets/fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url(../assets/fonts/Gilroy-ExtraBold.otf);
}

@font-face {
  font-family: 'open-sans';
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}
