.input {
  display: flex;
  flex-flow: column;
  color: var(--secondaryText);
  font-size: 17px;
  font-family: 'open-sans';
  margin: 10px 0;
}

.input label {
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transform: translate(5px, 5px);
  position: absolute;
  box-sizing: border-box;
}

.input input {
  color: var(--secondaryText);
  outline: none;
  border: none;
  z-index: 1;
  padding: 5px;
  background-color: transparent;
  border-bottom: 1px solid;
  font-size: 20px;
  font-family: 'open-sans';
  padding-right: 20px;
  /* border-radius: 3px; */
}

.input:hover > label,
.input:hover > input {
  color: var(--mainText);
  transition: 0.1s;
}

.input input:focus {
  color: var(--mainText);
}

.input .focus,
.input .hasValue {
  color: var(--mainText);
  animation: slideUp 0.1s ease-in-out;
  z-index: 1;
  /* background-color: white; */
  transform: translate(5px, -18px);
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
}

.options {
  background-color: var(--lighterColor);
  position: absolute;
  /* width: 220px; */
  color: var(--mainText);
  z-index: 1;
  /* padding: 5px; */
  border-radius: 2 px;
  transform: translate(5px, -20px);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 100;
}

.options div {
  cursor: pointer;
  margin: 10px 0;
  padding: 5px 20px;
}

.options div:hover {
  background-color: var(--secondaryText);
  border-radius: 2px;
  transition: 0.2s;
}

@keyframes slideUp {
  from {
    transform: translate(5px, 5px);
  }
  to {
    transform: translate(5px, -18px);
  }
}
@keyframes slideDown {
  from {
    transform: translate(5px, -18px);
  }
  to {
    transform: translate(5px, 5px);
  }
}

@keyframes scaleIn {
}
